@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

body{
    background: #f5f5f5;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-top: 40px;
}

.box-1{
    height:520px;
    width: 330px;
   background-color: white;
   border-radius: 8px;
   box-shadow: 0 3rem 6rem rgb(0 0 0 / 10%);
}

.box-2{
    height:520px;
    width: 330px;
   background-color: white;
   border-radius: 8px;
   box-shadow: 0 3rem 6rem rgb(0 0 0 / 10%);
}

.box-3{
    height:520px;
    width: 330px;
   background-color:white;
   border-radius: 8px;
   box-shadow: 0 3rem 6rem rgb(0 0 0 / 10%);
}

button {
    height: 7vh;
    width: 75%;
    cursor: pointer;
    border-radius: 6px;
   border: none;
   color:#3363ff;
   background-color: #e6ecff;
   font-size: 18px;
   display: block;
 margin: 0 auto;
}

button:hover{
    font-size: 21px;
    background-color: #3363ff;
    color:#e6ecff;
}

.fa-arrow-right{
    background:transparent;
    width: 30px;
    }

    .box-1 .image3{
        border-radius:8px 8px 0 0;
        height: 30vh;
    }

    .box-2 .image1{
        border-radius:8px 8px 0 0;
        height: 30vh;
    }
    
    .box-3 .image2{
        border-radius:8px 8px 0 0;
        height: 30vh;
    }

.text{
    background-color: #fff;
    padding: 20px 0 30px 0;
}

h1{
    font-weight: 400;
    font-size: 28px;
    padding: 20px;
    padding-top: 10px;

}
p {
    padding: 0 16px 30px 30px;
    line-height: 1.9rem;
}

.box-1:hover{
    box-shadow: 0 3rem 6rem rgb(0 0 0 / 20%);
}
.box-2:hover{
    box-shadow: 0 3rem 6rem rgb(0 0 0 / 20%);
}
.box-3:hover{
    box-shadow: 0 3rem 6rem rgb(0 0 0 / 20%);
}

@media screen and (max-width: 650px){ 
   .container{ 
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    height: auto;
} 

.box-1{
    flex: 1;
    padding: 20px;
}
.box-2{
    margin-top: 38px;
    flex: 1;
    padding: 20px;
}
.box-3{
    margin-top: 38px;
    flex: 1;
    padding: 20px;
}
}

/*1080
768
/640
